.popup__close-button {
  width: 32px;
  height: 32px;
  background: url(../../../images/icon-close.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  z-index: 99;
}

.popup__close-button:hover {
  opacity: 0.6;
}
