.elements__like-button {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background: url(../../../images/icon-like.svg);
  flex-shrink: 0;
  cursor: pointer;
}

.elements__like-button:hover {
  opacity: 0.5;
}

/* .elements__like-button:active {
  background: url(../../../images/icon-likeOn.svg);
} */

